__pycache__/
.gradle/
.idea/
.metals/
.next/
.parcel-cache/
.vs/
.vscode/*
assets/games
bin/
build/
jniLibs/
node_modules/
obj/
package/
saved/
target/

!.vscode/settings.json
.DS_Store
.env
*.crt
*.csproj
*.filters
*.fsproj
*.key
*.log
*.make
*.mwb.bak
*.pem
*.sln
*.user
*.vcxproj
*.vpp.*
*.wasm
*.xcodeproj
*.xcworkspace
desktop.ini
eos.json
keystore.jks
local.properties
Makefile
next-env.d.ts
